* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
html{
    height: 100%;
}
body {
    background:url(/static/calculator1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.center {
  width: 50%;
  height: 30%;
  padding: 10px;

}
