<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>Index Page</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 500px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: aliceblue;">
    <a class="navbar-brand mb-0 h1" href="#">IS601</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link disabled active" href="/Home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Article_1">Article1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Article_2">Article2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Article_3">Article3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Article_4">Article4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Calculator">Calculator</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1 class="display-4">Know about Pylint</h1>
    <p class="lead">This article explains the implementation of Pylint and few terminologies in Object-Oriented Programming.</p>
</div>



<div class="container">
    <div class="row">
        <h5>Pylint</h5>
        <p><br><b>First let us see what is pylint?</b><br>The biggest problem to address is to understand the code written by others, which might be useful in solving our coding error. This can get worse if there are no explanatory things like comments, docstrings in the code. As a programmer, we should make our code readable and understandable.To address such situations, Python provides a module called pylint.
        </p>
        <div>
            <b>Pylint is a tool with the following functions:</b>
            <ul><li>It lists the errors which comes after the execution of the Python code.</li>
                <li>Coding standard is enforced and looks for code smells.</li>
                <li>Suggestion of how a particular block can be updated.</li>
                <li>It offers details about code’s complexity.</li></ul></div>
        <div>
            <b>Installation</b>
            First Python has to installed to PC. Open the command prompt(Windows) / terminal(Linux) on your PC and type the following command <br>
            <ul><i>pip install pylint</i></ul>
            To verify the installtion, type the following command: <br>
            <ul><i>pylint --versi</i></ul>

        </div>
        <div>
            <b>Running</b>
            <ul><i>pylint [options] modules_or_packages</i></ul>

            The above command is used for running the pylint. Here,the name of a python package or module, or some number of packages or modules, should be given by you. Pylint does not import the package or module. Attention should be given to <b>PYTHONPATH</b>, as it is one of the well known mistake to analyze an installed version rather than a development version.
            You can analyze the python files with a few restrictions. First to note is that the Pylint will try to convert the file name to a module name and the file is processed only if the conversion succeeds.

            <ul><i>pylint working_module.py</i></ul>
        </div>
        <div>
            <b>Calling PYTHON from another PYTHON Program</b>
            <ul><i>import pylint.lint<br>
                pylint_opts = ['--disable=line-too-long', 'myfile.py']<br>
                pylint.lint.Run(pylint_opts)</i></ul>


            Run Pylint on a module_name.py module, and get its standard output and error:
            <ul><i>from pylint import epylint as lint<br>
                (pylint_stdout, pylint_stderr) = lint.py_run('module_name.py', return_std=True)</i></ul>

            We can add additional Pylint options in the first argument to py_run:
            <ul><i>from pylint import epylint as lint<br>
                (pylint_stdout, pylint_stderr) = lint.py_run('module_name.py --disable C0114', return_std=True)</i></ul>
            The options --msg-template="{path}:{line}: {category} ({msg_id}, {symbol}, {obj}) {msg}" and --reports=n are set implicitly inside the epylint module. Following are some of the options.

        </div>



        <table>
            <tr>
                <th>Options</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>--version</td>
                <td>show program's version number and exit</td>
            </tr>
            <tr>
                <td>-h,--help</td>
                <td> show help about the command line options</td>
            </tr>
            <tr>
                <td>
                    --output-format</td>
                <td>Select output format (text, json, custom).</td>
            </tr>
        </table>
    </div>
    <h6></h6>
    <div >
        <h5>Object Oriented Programming</h5>
    </div>

    <div class="card">
        <h5 class="card-header">1.Factory</h5>


        <p class="card-text">Factory Method is a creational design pattern used to create concrete implementations of a common interface.

            It separates the process of creating an object from the code that depends on the interface of the object.</p>
        <p class="card-text">For example, an application requires an object with a specific interface to perform its tasks. The concrete implementation of the interface is identified by some parameter.

            Instead of using a complex if/elif/else conditional structure to determine the concrete implementation, the application delegates that decision to a separate component that creates the concrete object. With this approach, the application code is simplified, making it more reusable and easier to maintain.</p>
        <p class="card-text">The central idea in Factory Method is to provide a separate component with the responsibility to decide which concrete implementation should be used based on some specified parameter. That parameter in our example is the format.</p>
        <p class="card-text">To complete the implementation of Factory Method, you add a new method ._get_serializer() that takes the desired format. This method evaluates the value of format and returns the matching serialization function:</p>
        <div class="text-center" style="width:25rem">
            <img src="/static/images/Factory.PNG" class="card-img-top"
                 alt="Load image">

        </div>
    </div>

    <div class="card">
        <h5 class="card-header">2.Instantiation</h5>


        <p class="card-text">Instantiating a class is creating a copy of the class which inherits all class variables and methods. Instantiating a class in Python is simple. To instantiate a class, we simply call the class as if it were a function, passing the arguments that the __init__ method defines. The return value will be the newly created object.</p>
        <p class="card-text">Used to create an object instance from a class (instantiate).Python allows you to be able to create instances automatically and this we could do using its (init) method.The init method after creation receives an instance automatically called (self), and we also pass in other attributes of the Employee class like name and pay.</p>

        <div class="text-center" style="width:25rem">
            <img src="/static/images/constructor.PNG" class="card-img-top"
                 alt="Load image">

        </div>
    </div>
    <h5 class="card-header">3.Class and Objects</h5>


    <p class="card-text"> <b>Class:</b> A class is a blueprint that defines the variables and the methods common to all objects of a certain kind. It is a building block with user-defined data type, which holds its own data members and member functions, which can be accessed and used by creating an instance of that class.

        Consider the Class of Cars. There may be many cars with different names and brand but all of them will share some common properties like all of them will have 4 wheels, Speed Limit, name,brand etc. So here, Car is the class and wheels, name, brand are their properties.
    </p>
    <p class="card-text"> <b>Object:</b> An Object is an identifiable entity with some characteristics and behaviour. An Object is an instance of a Class. When a class is defined, no memory is allocated but when it is instantiated (i.e. an object is created) memory is allocated.

        In the following example, BMW, Audi, Mercedes are objects of the class car.</p>
    <div class="text-center" style="width:25rem">
        <img src="/static/images/cars.jpeg" class="card-img-top"
             alt="Load image">

    </div>


    <div class="card">
        <h5 class="card-header">5.Namespace</h5>


        <p class="card-text"> A namespace is a declarative region that provides a scope to the identifiers (the names of types, functions, variables, etc) inside it. Namespaces are used to organize code into logical groups and to prevent name collisions that can occur especially when your code base includes multiple libraries. All identifiers at namespace scope are visible to one another without qualification. Identifiers outside the namespace can access the members by using the fully qualified name for each identifier, for example std::vector &#60;std::string&#62; vec;, or else by a using Declaration for a single identifier (using std::string), or a using Directive for all the identifiers in the namespace (using namespace std;). Code in header files should always use the fully qualified namespace name.</p>

        <p class="card-text">You can think of a namespace as a dictionary in
            which the keys
            are the object names and the values are the objects themselves. Each key-value pair maps a name
            to its
            corresponding object.</p>


    </div>


    <div class="card">
        <h5 class="card-header">6.Constructors</h5>


        <p class="card-text"> <b>Constructor:</b>  Constructor is used for initializing the instance members when we create the object of a class. Given below is the example of constructor for car class.</p>
        There are two types of constructors. There are:
        <ul><li><b>default constructor:</b>This constructor doesn’t accept any arguments. </li>
            <li> <b>parameterized constructor:</b>This can be seen in the below code. Constructor with parameters is known as parameterized constructor.</li></ul>
        <div class="text-center" style="width:40rem">
            <img src="/static/images/constructor.PNG" class="card-img-top"
                 alt="Load image">

        </div>

    </div>

    <div class="card">
        <h5 class="card-header">7.Fixtures</h5>


        <p class="card-text"> Pytest fixtures are functions attached to the tests which run before the test function is executed. Fixtures are a set of resources that have to be set up before and cleaned up once the Selenium test automation execution is completed.

            pytest fixture function is automatically called by the pytest framework when the name of the argument and the fixture is the same.Fixtures define the steps and data that constitute the arrange phase of a test (see Anatomy of a test). In pytest, they are functions you define that serve this purpose. They can also be used to define a test's act phase; this is a powerful technique for designing more complex tests.</p>
        <div class="text-center" style="width:40rem">
            <img src="/static/images/Fixture1.PNG" class="card-img-top"
                 alt="Load image">

        </div>
    </div>

    <div class="card">
        <h5 class="card-header">8.Typehint</h5>
        <p class="card-text">Type hinting is a formal solution to statically indicate the type of value within your Python code. It was specified in PEP 484 and introduced in Python 3.5. Here's an example of adding type information to a function</p>



    </div>





    <div class="card">
        <h5 class="card-header">9.Typecasting</h5>


        <p class="card-text"> Type casting is a method used to change the variables/ values declared in a certain data type into a different data type to match the operation required to be performed by the code snippet. In python, this feature can be accomplished by using constructor functions like int(), string(), float(), etc</p>

    </div>

    <div class="card">
        <h5 class="card-header">10.Unit test</h5>


        <p class="card-text">The unittest unit testing framework was originally inspired by JUnit and has a similar flavor as major unit testing frameworks in other languages. It supports test automation, sharing of setup and shutdown code for tests, aggregation of tests into collections, and independence of the tests from the reporting framework.</p>
        <p class="card-text">The unittest module provides a rich set of tools for constructing and running tests. This section demonstrates that a small subset of the tools suffice to meet the needs of most users.</p>
        <div class="text-center" style="width:40rem">
            <img src="/static/images/unittest.PNG" class="card-img-top"
                 alt="Load image">

        </div>
    </div>
    <div class="card">
        <h5 class="card-header">11.Static</h5>


        <p class="card-text">A static method does not receive an implicit first argument.To define a static method we use @staticmethod decorator. </p>
        <ul><li>A static method is also a method that is bound to the class and not the object of the class.

        </li>
            <li>A static method can’t access or modify the class state.</li>
            <li>It is present in a class because it makes sense for the method to be present in class.</li>

        </ul>
        <div class="text-center" style="width:40rem">
            <img src="/static/images/Static.PNG" class="card-img-top"
                 alt="Load image">

        </div>

    </div>
    <div class="card">
        <h5 class="card-header">12.Classmethod</h5>


        <p class="card-text">The @classmethod decorator is a built-in function decorator that is an expression that gets evaluated after your function is defined. The result of that evaluation shadows your function definition.
            A class method receives the class as an implicit first argument, just like an instance method receives the instance </p>
        <ul>
            <li>A class method is a method that is bound to the class and not the object of the class.</li>
            <li>They have the access to the state of the class as it takes a class parameter that points to the class and not the object instance.</li>
            <li>It can modify a class state that would apply across all the instances of the class. For example, it can modify a class variable that will be applicable to all the instances.</li>
        </ul>
        <div class="text-center" style="width:40rem">
            <img src="/static/images/ClassMethod.PNG" class="card-img-top"
                 alt="Load image">

        </div>
    </div>


    <div class="card">

        <h5 class="card-header">13.Facade</h5>
        <p class="card-text">Facade is a structural design pattern that provides a simplified (but limited)
            interface to
            a complex system of classes, library or framework.</p>

    </div>

    <div class="card">
        <h5 class="card-header">14.Design Pattern</h5>


        <p class="card-text">Design Patterns is the most essential part of Software Engineering, as they provide the general repeatable solution to a commonly occurring problem in software design. They usually represent some of the best practices adopted by experienced object-oriented software developers.We can not consider the Design Patterns as the finished design that can be directly converted into code. They are only templates that describe how to solve a particular problem with great efficiency. To know more about design patterns basics, refer – Introduction to Design Patterns.</p>
        <p>Design Pattern is classified as follows:</p>
        <ul>
            <li>Behavioral Design Pattern:Behavioral patterns are all about identifying the common communication patterns between objects and realize these patterns</li>
            <li>Structural Design Patterns:Structural design patterns are about organizing different classes and objects to form larger structures and provide new functionality while keeping these structures flexible and efficient. Mostly they use Inheritance to compose all the interfaces. It also identifies the relationships which led to the simplification of the structure</li>

        </ul>
    </div>

    <div class="card">
        <h5 class="card-header">15.Method</h5>


        <p class="card-text">A Python method is a label that you can call on an object; it is a piece of code to execute on that object.A Python method is like a Python function, but it must be called on an object.

            And to create it, you must put it inside a class.In Python, the term method is not
            unique to class instances: other object types can have methods as well. For example,
            list objects have methods called append, insert, remove, sort, and so on.</p>
        <p>In the below example, get_result is method in Division Class.</p>
        <div class="text-center" style="width:40rem">
            <img src="/static/images/Method.PNG" class="card-img-top"
                 alt="Load image">

        </div>
    </div>
    <div class="card">
        <h5 class="card-header">16.Property</h5>


        <p class="card-text">property() returns the property attribute from the given getter, setter, and deleter.If no arguments are given, property() returns a base property attribute that doesn't contain any getter, setter or deleter.If doc isn't provided, property() takes the docstring of the getter function.</p>
        <p class="card-text">Instead of using property(), you can use the Python decorator @property to assign the getter, setter, and deleter. The code below gives the example where @property is used.</p>
        <div class="text-center" style="width:40rem">
            <img src="/static/images/Property.PNG" class="card-img-top"
                 alt="Load image">

        </div>

    </div>






</div>





<div class="card text-center">
    <div class="card-footer text-dark">
        Diksha Anantha Gowda &#169;
        <a href="https://validator.w3.org/#validate_by_uri">W3C Validator</a>
    </div>
</div>
</body>
</html>